# Translation
A dummy fetcher that generates translation data is used.

In [1]:
from rics.translation import Translator

NAMES_TO_TRANSLATE = "name"
translate = Translator(fmt="{x}, {y}").translate

/home/dev/git/rics/src/rics/translation/_translator.py:156: UserWarning: No fetcher given. Translation data will be automatically generated.
  warnings.warn("No fetcher given. Translation data will be automatically generated.", UserWarning)

## Translating `dict` keys

When translating using `inplace=False` (the default), the `Translator` will always try to return an object of the same type. 
The `Translator` doesn't know what to do with the `dict_keys` class, so we wrap the values we want to translate using a known type.

In [2]:
a_dict = {f"k{i}": i for i in range(4)}
print(a_dict)

translated_keys = translate(list(a_dict), names=NAMES_TO_TRANSLATE)
{
    tk: a_dict[k] for  # tk is translated
    k, tk in zip(a_dict, translated_keys)
}

{'k0': 0, 'k1': 1, 'k2': 2, 'k3': 3}

{'x-of-k0, y-of-k0': 0,
 'x-of-k1, y-of-k1': 1,
 'x-of-k2, y-of-k2': 2,
 'x-of-k3, y-of-k3': 3}

## Translating Pandas `index` and `columns`
Recipies for translating involving `pandas` types. The only special case here is the `Index` type, which is immutable and thus cannot be translated inplace. We'll use some wrapper methods for this instead.

In [3]:
import pandas as pd
from typing import Union


def translate_index(data: Union[pd.Series, pd.DataFrame]) -> None:
    """Translate the index of a pandas ``Series`` or ``DataFrame``."""
    data.index = translate(data.index)


def translate_columns(data: pd.DataFrame) -> None:
    """Translate the columns of a pandas ``DataFrame``."""
    data.columns = translate(data.columns)

In [4]:
df = pd.DataFrame(
    data=[["00", "01", "02", "03"], ["10", "11", "12", "13"], ["20", "21", "22", "23"]],
    columns=[f"col{i}" for i in range(4)],
    index=[f"idx{i}" for i in range(3)],
)
df.index.name = NAMES_TO_TRANSLATE
s = df.col0
df

     col0 col1 col2 col3
name
idx0   00   01   02   03
idx1   10   11   12   13
idx2   20   21   22   23

In [5]:
translate_index(df)
translate_columns(df)
translate(df, inplace=True)
df

,"x-of-col0, y-of-col0","x-of-col1, y-of-col1","x-of-col2, y-of-col2","x-of-col3, y-of-col3"
"x-of-idx0, y-of-idx0","x-of-00, y-of-00","x-of-01, y-of-01","x-of-02, y-of-02","x-of-03, y-of-03"
"x-of-idx1, y-of-idx1","x-of-10, y-of-10","x-of-11, y-of-11","x-of-12, y-of-12","x-of-13, y-of-13"
"x-of-idx2, y-of-idx2","x-of-20, y-of-20","x-of-21, y-of-21","x-of-22, y-of-22","x-of-23, y-of-23"

In [6]:
translate_index(s)
translate(s, inplace=True)
s

x-of-idx0, y-of-idx0    x-of-00, y-of-00
x-of-idx1, y-of-idx1    x-of-10, y-of-10
x-of-idx2, y-of-idx2    x-of-20, y-of-20
Name: col0, dtype: object