# Fetching data using `SqlFetcher`
Translating using a SQL database. This notebook assumes that the ***Prepare for `SqlFetcher` demo***-step from `PickleFetcher.ipynb` has been completed.

In [1]:
import sys

import rics

# Print relevant versions
print(f"{rics.__version__=}")
print(f"{sys.version=}")
!git log --pretty=oneline --abbrev-commit -1

rics.__version__='0.7.0'
sys.version='3.8.10 (default, Mar 15 2022, 12:22:08) \n[GCC 9.4.0]'
304b738 (HEAD -> main, private/main) Mapper and score function refactoring (#58)

In [2]:
from rics.utility.logs import basic_config, logging

basic_config(level=logging.INFO, rics_level=logging.DEBUG)

## Create translator from config

In [3]:
from rics.translation import Translator

translator = Translator.from_config("config.toml")
translator

2022-06-28T15:16:48.826 [rics.translation.fetching.SqlFetcher:DEBUG] Metadata created in 0.168063 sec.
2022-06-28T15:16:48.926 [rics.translation.fetching.SqlFetcher:DEBUG] Size of name_basics=163559 resolved in 0.0989771 sec.
2022-06-28T15:16:48.956 [rics.translation.fetching.SqlFetcher:DEBUG] Size of title_basics=42074 resolved in 0.0285851 sec.
2022-06-28T15:16:48.957 [rics.translation.fetching.SqlFetcher:INFO] Processed 2 tables in 0.298649 sec. Lengths={'name_basics': 163559, 'title_basics': 42074}.

Translator(online=True: fetcher=SqlFetcher(engine=Engine(postgresql+pg8000://postgres:***@localhost:5432/imdb), tables=['name_basics', 'title_basics']))

## Make some data to translate

In [4]:
import pandas as pd

engine = translator._fetcher._engine


def first_title(seed=None, n=1000):
    df = pd.read_sql("SELECT * FROM name_basics;", engine).sample(n, random_state=seed)
    df["firstTitle"] = df.knownForTitles.str.split(",").str[0]
    return df[["nconst", "firstTitle"]]

In [5]:
tmap = translator.store()

2022-06-28T15:16:48.980 [rics.mapping.Mapper:DEBUG] Begin mapping value='original_name' in context='name_basics' to candidates {'index', 'birthYear', 'nconst', 'deathYear', 'int_id_nconst', 'primaryProfession', 'knownForTitles', 'primaryName'}
2022-06-28T15:16:48.983 [rics.mapping.Mapper:DEBUG] Rejected: 'original_name' -> 'primaryName', score=0.152 < 1.0.
2022-06-28T15:16:48.986 [rics.mapping.Mapper:DEBUG] Rejected: 'original_name' -> 'int_id_nconst', score=0.077 < 1.0.
2022-06-28T15:16:48.987 [rics.mapping.Mapper:DEBUG] Rejected: 'original_name' -> 'index', score=0.022 < 1.0.
2022-06-28T15:16:48.989 [rics.mapping.Mapper:DEBUG] Rejected: 'original_name' -> 'deathYear', score=0.022 < 1.0.
2022-06-28T15:16:48.989 [rics.mapping.Mapper:DEBUG] Rejected: 'original_name' -> 'primaryProfession', score=0.015 < 1.0.
2022-06-28T15:16:48.991 [rics.mapping.Mapper:DEBUG] Rejected: 'original_name' -> 'birthYear', score=0.000 < 1.0.
2022-06-28T15:16:48.991 [rics.mapping.Mapper:DEBUG] Rejected: 'original_name' -> 'nconst', score=0.000 < 1.0.
2022-06-28T15:16:48.993 [rics.mapping.Mapper:DEBUG] Rejected: 'original_name' -> 'knownForTitles', score=0.000 < 1.0.
2022-06-28T15:16:48.994 [rics.mapping.Mapper:DEBUG] Could not map 'original_name' in context='name_basics' to any of {'index', 'birthYear', 'nconst', 'deathYear', 'int_id_nconst', 'primaryProfession', 'knownForTitles', 'primaryName'}.
2022-06-28T15:16:48.996 [rics.translation.fetching.AbstractFetcher:DEBUG] Placeholder mappings for source='name_basics': {'id': 'nconst', 'name': 'primaryName', 'from': 'birthYear', 'to': 'deathYear', 'original_name': None}.
2022-06-28T15:16:50.077 [rics.translation.fetching.AbstractFetcher:DEBUG] Fetched ('nconst', 'primaryName', 'birthYear', 'deathYear') for 163559 IDS from 'name_basics' in 1.08 sec.
2022-06-28T15:16:50.079 [rics.translation.fetching.AbstractFetcher:DEBUG] Placeholder mappings for source='title_basics': {'id': 'tconst', 'name': 'primaryTitle', 'from': 'startYear', 'original_name': 'originalTitle', 'to': 'endYear'}.
2022-06-28T15:16:50.405 [rics.translation.fetching.AbstractFetcher:DEBUG] Fetched ('tconst', 'primaryTitle', 'originalTitle', 'startYear', 'endYear') for 42074 IDS from 'title_basics' in 0.325941 sec.
2022-06-28T15:16:50.406 [rics.translation.fetching.SqlFetcher:INFO] Deleting Engine(postgresql+pg8000://postgres:***@localhost:5432/imdb)
2022-06-28T15:16:50.407 [rics.translation.Translator:INFO] Store TranslationMap('title_basics': 42074 IDs, 'name_basics': 163559 IDs)

## Get the name and the "first" appearance for actors
In the IMDb list anyway. I have no idea how they're ordered in "knownForTitles".

In [6]:
df = first_title(seed=5)
df.head()

           nconst firstTitle
5536    nm0038172  tt0063897
5882    nm0040962  tt0043440
105691  nm0865925  tt0373558
115067  nm0941259  tt5558956
126661  nm1229926  tt0329418

In [7]:
df

           nconst firstTitle
5536    nm0038172  tt0063897
5882    nm0040962  tt0043440
105691  nm0865925  tt0373558
115067  nm0941259  tt5558956
126661  nm1229926  tt0329418
...           ...        ...
87266   nm0709659  tt0027778
64498   nm0513959  tt0456810
46020   nm0364288  tt0022085
24105   nm0186833  tt0072308
38475   nm0303056  tt0075532

[1000 rows x 2 columns]

In [8]:
translator.translate(df)

,nconst,firstTitle
5536,nm0038172:Peter Aryans *1918†2001,tt0063897:Floris (original: Floris) *1969†1969
5882,nm0040962:Ugo Attanasio *1887†1969,tt0043440 not translated; default name=Title u...
105691,nm0865925:Manuel Toledano *1974†2007,tt0373558:Lo + plus (original: Lo + plus) *199...
115067,nm0941259:Roberta Woolley *1938†2017,tt5558956 not translated; default name=Title u...
126661,nm1229926:Carla Hansen *1906†2001,tt0329418 not translated; default name=Title u...
...,...,...
87266,nm0709659:Pamela Randell *1918†1991,tt0027778 not translated; default name=Title u...
64498,nm0513959:Vanja Lisak *1941†2015,tt0456810:Vecernja skola: Povratak upisanih (o...
46020,nm0364288:John Harrington *1882†1945,tt0022085 not translated; default name=Title u...
24105,nm0186833:John Crawford *1920†2010,tt0072308 not translated; default name=Title u...
38475,nm0303056:Lew Gallo *1928†2000,tt0075532:Lucan (original: Lucan) *1977†1978

In [9]:
df.head()

           nconst firstTitle
5536    nm0038172  tt0063897
5882    nm0040962  tt0043440
105691  nm0865925  tt0373558
115067  nm0941259  tt5558956
126661  nm1229926  tt0329418

In [10]:
translator.translate(df, inplace=True)  # returns None
df.head()

,nconst,firstTitle
5536,nm0038172:Peter Aryans *1918†2001,tt0063897:Floris (original: Floris) *1969†1969
5882,nm0040962:Ugo Attanasio *1887†1969,tt0043440 not translated; default name=Title u...
105691,nm0865925:Manuel Toledano *1974†2007,tt0373558:Lo + plus (original: Lo + plus) *199...
115067,nm0941259:Roberta Woolley *1938†2017,tt5558956 not translated; default name=Title u...
126661,nm1229926:Carla Hansen *1906†2001,tt0329418 not translated; default name=Title u...