# Fetching data using `SqlFetcher`
Translating using a SQL database. This notebook assumes that the ***Prepare for `SqlFetcher` demo***-step from `PickleFetcher.ipynb` has been completed.

In [1]:
import sys

import rics

# Print relevant versions
print(f"{rics.__version__=}")
print(f"{sys.version=}")
!git log --pretty=oneline --abbrev-commit -1

rics.__version__='0.1.0'
sys.version='3.8.10 (default, Nov 26 2021, 20:14:08) \n[GCC 9.3.0]'
aeadabc (HEAD -> change-fetch-placeholders-return-format) todo still need to fix placeholder overrides in applier

In [2]:
from rics.utility.logs import basic_config, logging

basic_config(level=logging.INFO, rics_log_level=logging.DEBUG)

## Make some data to translate

In [3]:
import pandas as pd
import sqlalchemy

# !sudo apt-get install build-dep python-psycopg2
# !pip install psycopg2-binary

In [4]:
connection_string = "postgresql://postgres:your_password@localhost:5432/imdb"
engine = sqlalchemy.create_engine(connection_string)


def first_title(seed=None, n=1000):
    df = pd.read_sql("SELECT * FROM name_basics;", engine).sample(n, random_state=seed)
    df["firstTitle"] = df.knownForTitles.str.split(",").str[0]
    return df[["nconst", "firstTitle"]]

## Create translator from config

In [5]:
from rics.translation import Translator

translator = Translator.from_config("config.yaml")
print(translator)
tmap = translator.store()
print(translator)

2022-03-15T18:06:20.501 [rics.translation.offline.PlaceholderOverrides:DEBUG] [REVERSED] Overrides for source='name_basics': {'id': 'nconst', 'name': 'primaryName', 'from': 'birthYear', 'to': 'deathYear'}; specific for this source: {'id': 'nconst', 'name': 'primaryName', 'from': 'birthYear', 'to': 'deathYear'}.
2022-03-15T18:06:20.509 [rics.translation.offline.PlaceholderOverrides:DEBUG] [REVERSED] Overrides for source='title_basics': {'id': 'tconst', 'name': 'primaryTitle', 'original_name': 'originalTitle', 'from': 'startYear', 'to': 'endYear'}; specific for this source: {'id': 'tconst', 'name': 'primaryTitle', 'original_name': 'originalTitle', 'from': 'startYear', 'to': 'endYear'}.
2022-03-15T18:06:20.514 [rics.translation.fetching.SqlFetcher:INFO] Table discovery found 2 tables: ['name_basics', 'title_basics']
2022-03-15T18:06:20.516 [rics.translation.offline.PlaceholderOverrides:DEBUG] [REVERSED] Overrides for source='name_basics': {'id': 'nconst', 'name': 'primaryName', 'from': 'birthYear', 'to': 'deathYear'}; specific for this source: {'id': 'nconst', 'name': 'primaryName', 'from': 'birthYear', 'to': 'deathYear'}.
2022-03-15T18:06:20.517 [rics.translation.offline.PlaceholderOverrides:DEBUG] Overrides for source='name_basics': {'nconst': 'id', 'primaryName': 'name', 'birthYear': 'from', 'deathYear': 'to'}; specific for this source: {'nconst': 'id', 'primaryName': 'name', 'birthYear': 'from', 'deathYear': 'to'}.

Translator(online=True: fetcher=SqlFetcher(engine=Engine(postgresql://postgres:***@localhost:5432/imdb), tables=['name_basics', 'title_basics']))

2022-03-15T18:06:21.101 [rics.translation.fetching.Fetcher:DEBUG] Fetched ('nconst', 'primaryName', 'birthYear', 'deathYear') for 163559 IDS from 'name_basics' in 0.583019 sec.
2022-03-15T18:06:21.103 [rics.translation.offline.PlaceholderOverrides:DEBUG] [REVERSED] Overrides for source='title_basics': {'id': 'tconst', 'name': 'primaryTitle', 'original_name': 'originalTitle', 'from': 'startYear', 'to': 'endYear'}; specific for this source: {'id': 'tconst', 'name': 'primaryTitle', 'original_name': 'originalTitle', 'from': 'startYear', 'to': 'endYear'}.
2022-03-15T18:06:21.104 [rics.translation.offline.PlaceholderOverrides:DEBUG] Overrides for source='title_basics': {'tconst': 'id', 'primaryTitle': 'name', 'originalTitle': 'original_name', 'startYear': 'from', 'endYear': 'to'}; specific for this source: {'tconst': 'id', 'primaryTitle': 'name', 'originalTitle': 'original_name', 'startYear': 'from', 'endYear': 'to'}.
2022-03-15T18:06:21.196 [rics.translation.fetching.Fetcher:DEBUG] Fetched ('tconst', 'primaryTitle', 'originalTitle', 'startYear', 'endYear') for 42074 IDS from 'title_basics' in 0.0913318 sec.
2022-03-15T18:06:21.197 [rics.translation.Translator:INFO] Store TranslationMap('title_basics': 42074 IDs, 'name_basics': 163559 IDs)
2022-03-15T18:06:21.199 [rics.translation.fetching.SqlFetcher:DEBUG] Deleting Engine(postgresql://postgres:***@localhost:5432/imdb)

Translator(online=False: cache=TranslationMap('title_basics': 42074 IDs, 'name_basics': 163559 IDs))

## Get the name and the "first" appearance for actors
In the IMDb list anyway. I have no idea how they're ordered in "knownForTitles".

In [6]:
df = first_title(seed=5)
df.head()

           nconst firstTitle
5536    nm0038172  tt0063897
5882    nm0040962  tt0043440
105691  nm0865925  tt0373558
115067  nm0941259  tt5558956
126661  nm1229926  tt0329418

In [7]:
translator.translate(df)

,nconst,firstTitle
5536,nm0038172:Peter Aryans *1918†2001,tt0063897:Floris (original: Floris) *1969†1969
5882,nm0040962:Ugo Attanasio *1887†1969,NaN
105691,nm0865925:Manuel Toledano *1974†2007,tt0373558:Lo + plus (original: Lo + plus) *199...
115067,nm0941259:Roberta Woolley *1938†2017,NaN
126661,nm1229926:Carla Hansen *1906†2001,NaN
...,...,...
87266,nm0709659:Pamela Randell *1918†1991,NaN
64498,nm0513959:Vanja Lisak *1941†2015,tt0456810:Vecernja skola: Povratak upisanih (o...
46020,nm0364288:John Harrington *1882†1945,NaN
24105,nm0186833:John Crawford *1920†2010,NaN
38475,nm0303056:Lew Gallo *1928†2000,tt0075532:Lucan (original: Lucan) *1977†1978

In [8]:
df.head()

           nconst firstTitle
5536    nm0038172  tt0063897
5882    nm0040962  tt0043440
105691  nm0865925  tt0373558
115067  nm0941259  tt5558956
126661  nm1229926  tt0329418

In [9]:
translator.translate(df, inplace=True)  # returns None
df.head()

,nconst,firstTitle
5536,nm0038172:Peter Aryans *1918†2001,tt0063897:Floris (original: Floris) *1969†1969
5882,nm0040962:Ugo Attanasio *1887†1969,NaN
105691,nm0865925:Manuel Toledano *1974†2007,tt0373558:Lo + plus (original: Lo + plus) *199...
115067,nm0941259:Roberta Woolley *1938†2017,NaN
126661,nm1229926:Carla Hansen *1906†2001,NaN